<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>About All Lawyers</h2>
          <p>Find right LAwyer for your Legal requirment by using All Lawyers Serch Engine.</p>
        </div><!-- /.col-* -->

        <div class="col-sm-4">
          <h2>Contact Information</h2>

          <p>
            Your Street 123, Toronto, Canada<br>
            +1-123-456-789, <a href="#">info@alllawyers.ca</a></p>
        </div><!-- /.col-* -->

        <div class="col-sm-4">
          <h2>Stay Connected</h2>
          <span itemscope="" itemtype="http://schema.org/Organization">
   <ul class="social-links nav nav-pills">
                        <li><a itemprop="sameAs" target="_blank" title="Follow All Lawyers" href="https://twitter.com/alllawyers"><i class="fa fa-twitter"></i></a></li>
                        <li><a itemprop="sameAs" target="_blank" title="Like us on Facebook" href="https://www.facebook.com/alllawyers"><i class="fa fa-facebook"></i></a></li>
                        <li><a itemprop="sameAs" target="_blank" title="Visit All Lawyers on Linkrdin" href="https://www.linkedin.com/company/alllawyers"><i class="fa fa-linkedin"></i></a></li>
                        <li><a itemprop="sameAs" target="_blank" title="Follow All Lawyers on Pinterest" href="https://www.pinterest.com/alllawyers/"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
</span>
          <!-- /.header-nav-social -->
        </div><!-- /.col-* -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.footer-top -->

  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-left">
        © <!--?php echo date("Y") ?--> All rights reserved. Created by <a href="https://www.alllawyers.ca">All Lawyers</a>.
      </div><!-- /.footer-bottom-left -->

      <div class="footer-bottom-right">
        <ul class="nav nav-pills">
          <li><a href="https://www.alllawyers.ca/index">Home</a></li>
          <li><a href="https://www.alllawyers.ca/terms-conditions">Terms &amp; Conditions</a></li>
          <li><a href="https://www.alllawyers.ca/contact">Contact</a></li>
        </ul><!-- /.nav -->
      </div><!-- /.footer-bottom-right -->

    </div><!-- /.container -->
  </div>
</footer>
