<form method="get" action="../?">
  <h2>Start Searching</h2>
  <div class="hero-image-keyword form-group">
    <input type="text" class="form-control" placeholder="Keyword">
  </div>

  <!-- /.form-group -->
  <div class="hero-image-category form-group">
    <select class="form-control bs-select-hidden" title="Category">
      <option class="bs-title-option" value="">Category</option>
      <option value="">Category 1</option>
      <option value="">Category 2</option>
      <option value="">Category 3</option>
      <option value="">Category 4</option>
    </select>
    <div class="btn-group bootstrap-select form-control">
      <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Category"><span
        class="filter-option pull-left">Category</span>&nbsp;<span class="caret"></span></button>
      <div class="dropdown-menu open">
        <ul class="dropdown-menu inner" role="menu">
          <li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Category 1</span><span
            class="glyphicon glyphicon-ok check-mark"></span></a></li>
          <li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Category 2</span><span
            class="glyphicon glyphicon-ok check-mark"></span></a></li>
          <li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Category 3</span><span
            class="glyphicon glyphicon-ok check-mark"></span></a></li>
          <li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Category 4</span><span
            class="glyphicon glyphicon-ok check-mark"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.form-group -->

  <!-- /.form-group -->
  <div class="hero-image-location form-group">
    <select class="form-control bs-select-hidden" title="Location">
      <option class="bs-title-option" value="">Location</option>
      <option>Toronto</option>
      <option>North York</option>
      <option>Richmond Hill</option>
      <option>ThornHill</option>

    </select>
    <div class="btn-group bootstrap-select form-control">
      <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Location"><span
        class="filter-option pull-left">Location</span>&nbsp;<span class="caret"></span></button>
      <div class="dropdown-menu open">
        <ul class="dropdown-menu inner" role="menu">
          <li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Toronto</span><span
            class="glyphicon glyphicon-ok check-mark"></span></a></li>
          <li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">North York</span><span
            class="glyphicon glyphicon-ok check-mark"></span></a></li>
          <li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Richmond Hill</span><span
            class="glyphicon glyphicon-ok check-mark"></span></a></li>
          <li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">ThornHill</span><span
            class="glyphicon glyphicon-ok check-mark"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.form-group -->

  <button type="submit" class="btn btn-primary btn-block">Search</button>
</form>
